.register-form{
    width: 100%;
    max-width: 520px;

    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        @media (max-width: 576px) {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
    }

    input{
        height: 50px;
    }

    button.btn{
        width: 100%;
        text-transform: uppercase;
        height: 40px;
    }

    p{
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
        margin: 10px 0;
    }
}
