@use '../../../styles/variables' as v;

.admin-branches-page {
    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.3rem;
            color: v.$color1;
            margin: 0;
        }
    }

    &__actions {
        display: flex;
        gap: 0.5rem;
    }
}
