@use '../../../../styles/variables' as v;
@use '../../../../styles/mixins' as m;

$breakpointsm: 400px;

.details-panel{

    .panel-title{
        @include m.flexbox(row, space-between, center);

        h1{
            font-size: 1.6rem;
            margin: 0;
        }
    }

    h2{
        font-size: 1.15rem;
    }

    .card{
        img{
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            border-radius: inherit;
        }

        @media (max-width: $breakpointsm) {
            img{
                max-height: 220px;
            }
        }
    }

    .row{
        @include m.flexbox(row, space-between, center);
        flex-wrap: wrap;
        text-align: center;
        margin-top: 1.1rem;

        [class^="col"]{
            border-radius: 5px;
            padding: 0.6rem;
            @include m.flexbox(row, flex-start, center, 5px);
            color: v.$color2;

            span{
                font-weight: 600;
            }

            svg{
                font-size: 2.1rem;
                color: v.$color1;
            }

            &:hover{
                background-color: v.$color4;
                cursor: pointer;
            }

            @media (max-width: $breakpointsm) {
                font-size: 0.8rem;
            }
        }
    }
}