@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.admin-dashboard {
    padding-top: 0.75rem;
    padding-bottom: 1rem;

    &__gauges {
        @include m.flexbox(row, center, center, 2.5rem);
        flex-wrap: wrap;
        height: 100%;
        background-color: #fff;
        border: 1px solid v.$color1_5;
        border-radius: 10px;
        box-shadow: 0 1px 4px rgba(27, 122, 67, 0.08);
        padding: 0.6rem 1rem;
    }
}
