.contact-info-container {
  p {
    margin-top: 2rem;
    line-height: 1.7;
  }
}

.contact-form {
  .contact-form__kvkk {
    .form-check-label {
      font-size: 0.88rem;
      line-height: 1.5;
    }

    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
